body{
      margin: 0;
    }
    .gradient-custom {
      background: #527724;
    }
    .text-login-mop{
      color: #527724;
    }
.btn-outline-light:hover{
  color: black;
  background: white;
  font-weight: bold;
}